* {
    margin: 0%;
    padding: 0%; }

body {
    background-image: url(../imagenes/negroyrojo.jpg);
   
}

.btn {
    background-color: $colorN ;
    color: aliceblue;
    margin: 2%;
 
}
a {
    text-decoration: none;
    &:hover {
        color: $colorN;
        font-size: 20px;

    }
}

.pieDePag {
    display: grid;
    justify-content: start;
    font-size: 20px;

}
.C{
    font-size: 15px;
    text-align: end;
    margin: 10px;
}
.Escribe
{
    text-align: center;
}
h2, h3, .articleProductos
{
    color: rgb(247, 206, 206);
}
