
.tituloIndex {
    padding: 2%;
}

.logoIndex {
    border-radius: 100%;
    width: 350px;  
    margin:4%;
    border: 5px solid $colorN;
}

.parrafoIndex {
    padding: 23%;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    font-size: 30px;
    background-image:url(../imagenes/23556-negro-con-dorado.jpg);
    background-size: 100%;
    &:hover { color: brown; 
    }

}

.nav-link {

    margin: 10px;
    font-size: 20px;
    

    &:hover {
        background-color: gray;
    }
}

article {
    background-image: url(../imagenes/fondo\ Colores.jpg);
    background-size: 100%;

}
