
.tituloIndex {
    padding: 2%;
}

.logoIndex {
    border-radius: 100%;
    width: 350px;  
    margin:4%;
    border: 5px solid $colorN;
}

.h3Index {
    font-size: 30px;
    text-align: end;
    margin-right: 20%;
    margin-bottom: 20%;
    color: black;
}

.nav-link {

    margin: 10px;
    font-size: 20px;
    

    &:hover {
        background-color: gray;
    }
}

article {
    background-image: url(../imagenes/fondo\ Colores.jpg);
    background-size: 100%;
    height: 100vh;
    width: 100vw;

}
