.logoContacto {
    width: 30px;
    margin: 5px;

}


.imgGaleria1 {
    @extend %bordesimg ;


    &:hover{    
        width: 330px;
        height: 298px;
        border: solid 1px white;
    }
}

.imgGaleria2 {
    @extend %bordesimg ;


    &:hover{    
        width: 330px;
        height: 298px;
        border: solid 1px red;
    }
}

.imgGaleria3 {
    @extend %bordesimg ;

    &:hover{    
        width: 330px;
        height: 298px;
        border: solid 1px violet;
    }
}
.imgGaleria4 {
    @extend %bordesimg ;
    &:hover{    
        width: 330px;
        height: 298px;
        border: solid 1px yellow;
    }
}

.logo-prod{
    width: 250px;
    border-radius: 100%;
    border: solid 1px $colorN; 
}

.imgCar {
    width: 550px;
    height: 420px;
}