
@media screen and (max-width: 500px){
    .logoIndex {
        width: 85%;

    }
    .parrafoIndex {
        font-size: 30px;
    }

 .logo-prod {
    width: 200px;
    margin:0%;
    border: none;}

    .imgContactoo {
       width: 47vh;
       margin-top: 1%;
  
    }

    .imgCar {
        width: 250px;
        height: 220px;
    }

    .fondoIndex{
        background-image:url(../imagenes/black-wallpapers-for-smartphone-68-700x1244.bmp);
        background-size: 100%;
        height: 85vh;
    
    
    }
    .h3Index {
        color: white;
        font-size: 20px;
        padding: 2%;
        text-align: center;
    }


    
    
    

 }
