
@media screen and (max-width: 500px){
    .logoIndex {
        width: 70%;

    }
    .parrafoIndex {
        font-size: 30px;
    }

 .logo-prod {
    width: 200px;
    margin:0%;
    border: none;}

    .imgContactoo {
       width:380px;
       margin-top: 1%;
  
    }

 }
