
@media screen and (max-width: 500px){
    .logoIndex {
        width: 70%;

    }
    .parrafoIndex {
        font-size: 30px;
    }

 .logo-prod {
    width: 200px;
    margin:0%;
    border: none;}

    .imgContactoo {
       width:350px;
       margin-top: 1%;
  
    }

    .imgCar {
        width: 250px;
        height: 220px;
    }
    article {
        background-image: url(../imagenes/fondo\ Colores.jpg);
        background-size: 100%;
       
        width: 100vw;
    
    }

 }
