
* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: grey;
}

.contacto {
    width: 500px;
    text-align: center;
    margin-left: 400px;
    padding: 2%;
    border:solid grey;
}

.btn {
    background-color: black;
    color: aliceblue;
    margin: 1%;
}

.tituloIndex {
    padding: 2%;
}

.logoIndex {
    border-radius: 100%;
    width: 350px;  
    margin:4%;
    border: 5px solid black;
}

.parrafoIndex {
    padding: 23%;
    font-family: 'Times New Roman', Times, serif;
    color: aliceblue;
    font-size: 30px;
    background-image:url(../imagenes/23556-negro-con-dorado.jpg);
    background-size: 100%;

}

.parrafoIndex:hover {
    color: brown;
}

.logoContacto {
    width: 50px;
    margin: 1%;
}

.logoContacto {
    transition: 1ms;
}
.logoContacto:hover {
    width: 4%;
}

a {
    text-decoration: none;
    color: white;
}

.imgGaleria {
    height: 290px;
    width: 310px;
    border-radius: 10%;
    padding: 2%;
    transition: 1ms;
}

.imgGaleria:hover {
    width: 330px;
    height: 298px;

}

.logo-prod{
    width: 250px;
    border-radius: 100%;
    border: solid 5px black;

}
@media screen and (max-width: 600px){
    .logoIndex {
        width: 70%;

    }
    .parrafoIndex {
        font-size: 30px;
    }
.contacto {
    margin: 0%;
    width: auto;
    padding: 0%;
}
 .logo-prod {
    width: 200px;
    margin:0%;
    border: none;

 }

}